.khan__bay-link {
  align-self: flex-start;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.khan__bay-link:hover {
  opacity: 0.5;
  transition: 0.5s;
}
